.grid {
    display: grid;
    grid-template-columns: repeat(100, 15px);
    grid-template-rows: auto
}

.start-on {
    cursor: pointer;
    color: black;
    background-color: lightblue;
    border-radius: 4px;
}

.start-off {
    cursor: pointer;
    color: lightblue;
    background-color: black;
    border-radius: 4px;
}

.stop-on {
    cursor: pointer;
    color: black;
    background-color: lightblue;
    border-radius: 4px;
}

.stop-off {
    cursor: pointer;
    color: lightblue;
    background-color: black;
    border-radius: 4px;
}

.reset-on {
    cursor: pointer;
    color: black;
    background-color: lightblue;
    border-radius: 4px;
}

.reset-off {
    cursor: pointer;
    color: lightblue;
    background-color: black;
    border-radius: 4px;
}

.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    /* background-color: rgb(0,0,0);  */
    background-color: rgba(0,0,0,0.4); 
  }

.content {
    background-color: black;
    color: lightblue;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
